body {
	width: 1800px;
	margin: auto;
	background-color: #2E2E2E;
	font-family: 'Verdana', sans-serif;

	background: #008ECC; /* For browsers that do not support gradients */
	background: -webkit-linear-gradient(#003A53, #008ECC); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(#003A53, #008ECC); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#003A53, #008ECC); /* For Firefox 3.6 to 15 */
	background: linear-gradient(#003A53, #008ECC); /* Standard syntax */
}

.jumbotron {
	color: black;
	background-color: #E3E3E3;
	border-radius: 5px;
	margin-top: 10px;
	padding-top: 5px;

	box-shadow: 10px 10px 5px black;
}

.main {
	color: black;
	background-color: #E3E3E3;
	border-radius: 5px;

	box-shadow: 6px 6px 2px black;
}

.navbar {
	box-shadow: 6px 6px 2px black;
}

#foot {
	padding-top: 20px;
	border-top-style: solid;
	width: 100%;
	margin: auto;
}

