body {
	width: 98%;
	margin: auto;
	background-color: #6198E7;
}

.jumbotron {
	color: black;
	background-color: #E3E3E3;
	border-radius: 5px;
	margin-top: 10px;
	padding-top: 5px;
}

.main {
	color: black;
	background-color: #E3E3E3;
	border-radius: 5px;
}
